<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), remote: true) do |f| %>
  <div class="login-screen-title login">회원가입</div>

  <div class="content-block login">
    <p class="intro">Discover new quiz join the community</p>
  </div>

  <div class="list-block">
    <ul>
      <li class="item-content">
        <div class="item-inner">
          <div class="item-input">
            <%= f.input_field :username, autocapitalize: 'off', autocorrect: 'off' %>
            <%= f.error :username %>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="separator login1"></div>

  <div class="list-block">
    <ul>
      <li class="item-content">
        <div class="item-inner">
          <div class="item-input">
            <%= f.input_field :password, as: :password %>
            <%= f.error :password %>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="separator login1"></div>

  <div class="list-block">
    <ul>
      <li class="item-content">
        <div class="item-inner">
          <div class="item-input">
            <%= f.input_field :password_confirmation, as: :password %>
            <%= f.error :password_confirmation %>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="separator login1"></div>

  <div class="content-block submit">
    <%= f.button :submit, "가입하기", class: 'button button-big button-round email', data: { disable_with: 'Saving...' } %>
  </div>

  <div class="list-block">
    <div class="list-block-label">
      <%# 계정을 만들면 서비스 약관 및 개인정보 보호정책에 동의하는 것으로 간주합니다. %>
      이미 가입하셨나요?

      <%- if controller_name != 'sessions' %>
        <%= link_to "로그인", new_session_path(resource_name) %><br />
      <% end -%>
    </div>
  </div>

  <div class="content-block button-connect">
    <%#= link_to "Sign in with Facebook", omniauth_authorize_path(resource_name, 'facebook'), class: "button button-big button-round facebook" %>
    <%= link_to "로그인", new_session_path(resource_name), class: "button button-big button-round email" %>
  </div>
<% end %>
