<tr>
  <td><%= badge.id %></td>
  <td><%= badge.slug %></td>
  <td><%= badge.name %></td>
  <td><%= badge.description %></td>
  <td><%= badge.created_at %></td>
  <td><%= badge.updated_at %></td>
  <td>
    <div class="dropdown">
      <a class="dropdown-toggle btn btn-sm btn-flat btn-danger" data-toggle="dropdown" href="#">
        actions
        <b class="caret"></b>
      </a>

      <ul class="dropdown-menu">
      </ul>
    </div>
  </td>
</tr>
