<tr>
  <td><%= quiz.id %></td>
  <td><%= image_tag quiz.featured_image.url(:thumb) %></td>
  <td><%= link_to quiz.title, [:admin, quiz] %></td>
  <td><%= quiz.description %></td>
  <td><%= quiz.created_at %></td>
  <td><%= quiz.updated_at %></td>
  <td>
    <div class="dropdown">
      <a class="dropdown-toggle btn btn-sm btn-flat btn-danger" data-toggle="dropdown" href="#">
        actions
        <b class="caret"></b>
      </a>

      <ul class="dropdown-menu">
        <li><%= link_to 'Edit', edit_admin_quiz_path(quiz) %></li>
        <li><%= link_to "Add #{Question}", new_admin_quiz_question_path(quiz) %></li>
      </ul>
    </div>
  </td>
</tr>
