<section class="content-header">
  <h1>
    <%= Quiz %>
    <small>Control panel</small>
  </h1>

  <ol class="breadcrumb">
    <li>
      <%= link_to admin_root_path do %>
        <i class="fa fa-dashboard"></i> Home
      <% end %>
    </li>

    <li class="active"><%= Quiz %></li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-info">
        <div class="box-header">
          <h3 class="box-title">
            <%= Quiz %>
            <%= link_to 'New', new_admin_quiz_path, class: 'btn btn-sm btn-flat btn-primary' %>
          </h3>
        </div>

        <div class="box-body table-responsive">
          <table class='table table-bordered table-striped table-hover'>
            <thead>
              <%= render 'th' %>
            </thead>

            <tbody>
              <%= render @quizzes %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
