<section class="content-header">
  <h1>
    <%= Quiz %>
    <small>new</small>
  </h1>

  <ol class="breadcrumb">
    <li>
      <%= link_to admin_root_path do %>
        <i class="fa fa-dashboard"></i> Home
      <% end %>
    </li>

    <li class="active"><%= Quiz %></li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">New
            <small><%= Quiz %></small>
          </h3>
        </div>

        <%= render 'form' %>
      </div>
    </div>
  </div>
</section>
