<div class="pages navbar-through toolbar-through">
  <div data-page="<%= controller_name %>-<%= action_name %>" class="page <%= controller_name %> <%= action_name %>">
    <%= form_tag search_path, class: "searchbar searchbar-init searchbar-hidden", method: :post, remote: true do %>
      <div class="searchbar-input">
        <input type="search" placeholder="Search" name="q"><a href="#" class="searchbar-clear"></a>
      </div><a href="#" class="searchbar-cancel">취소</a>
    <% end %>
    <div class="searchbar-overlay"></div>

    <%= yield %>
  </div>
</div>
