<tr>
  <td><%= ticket.id %></td>
  <td><%= ticket.email_address %></td>
  <td><%= ticket.details %></td>
  <td><%= ticket.created_at %></td>
  <td><%= ticket.updated_at %></td>
  <td>
    <div class="dropdown">
      <a class="dropdown-toggle btn btn-sm btn-flat btn-danger" data-toggle="dropdown" href="#">
        actions
        <b class="caret"></b>
      </a>

      <ul class="dropdown-menu">
      </ul>
    </div>
  </td>
</tr>
