<%= simple_form_for [:admin, @quiz, @question] do |f| %>
  <div class="box-body">
    <%= render "shared/error_messages", object: @question %>

    <%= f.input :text %>

    <h3><%= Option %></h3>
    <div class="options">
      <%= f.simple_fields_for :options do |option| %>
        <%= render 'option_fields', f: option %>
      <% end %>

      <div class="links">
        <%= link_to_add_association 'Add option', f, :options, class: 'btn btn-sm btn-flat btn-primary' %>
      </div>
    </div>

    <%= f.button :submit, class: 'pull-right' %>
  </div>
<% end %>
